<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<item>
		<title>Shell Command Line</title>
		<command>exit --shell</command>
	</item>
	<item>
		<title>FC EMU -- 90TANK</title>
		<command>test /romdisk/90tank.nes</command>
	</item>
	<item>
		<title>FC EMU -- MARIO</title>
		<command>test /romdisk/mario.nes</command>
	</item>
	<item>
		<title>FC EMU -- WAJINZI</title>
		<command>test /romdisk/wajinzi.nes</command>
	</item>
</menu>